:root {
    --primary-color: #1d3557;
    --background-color: rgb(233, 231, 231);
    --success-color: green;
    --error-color: red;
    --button-disabled-color: gray;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 231, 231);
    color: var(--primary-color);
}

.snackbar-success {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--success-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.snackbar-error {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--error-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    flex-grow: 1; /* Make the button grow to fill the space vertically */
}

button:hover {
    background-color: var(--primary-color);
    color: white;
}

button:disabled {
    background-color: transparent;
    color: var(--button-disabled-color);
    border: var(--button-disabled-color) 1px solid;
    cursor: not-allowed;
    flex-grow: 1;
}

section {
    width: 50%;
}

.input {
    border-radius: 5px;
    border: var(--primary-color) 1px solid;
    width: calc(99% - 16px);
    height: 40px;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 20px;
    
}

